{{#grouped_each 4 items}}
<div class="row">
{{#each this}}

    
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats d-flex align-items-stretch">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <image src="../{{itemImage}}"
                        style="width: 100%;"/>
                        
                {{!-- <i class="fa fa-twitter"></i> --}}
            </div>
       <a href="/items/{{id}}"><h2 style="color: black;">{{itemName}}</h2></a>
       <h4 style="color: black;" class="card-category">${{price}}.00</h4>
        </div>
        
        <div class="card-footer">
             <form action="/items/{{id}}" method="GET">
            <div class="card-footer text-center">
          <button type="submit" class="btn btn-primary">View Item</button>
        </div>
        </form>
            
            <div class="stats">
                {{#ifCond amount 1}}
                    <i class="material-icons">check_box</i> In Stock
                {{/ifCond}}
                
            </div>
        </div>
    </div>
  </div>
{{/each}}
</div>
{{/grouped_each}}

